:root{
    --primario:#18529D;
    --primario-hover:#86CABF;    
    --secundario:#009688;
    --fondo-secundario:#B2DFDB;
    --subtitulos:#009688;
    --degrado-inicio:24,82,157;
    --degrado-fin:0, 150, 136;
    

}